body {
  padding: 15px;
  margin: 0;
  background-color: #ea770f;
}

nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;

  & button {
    color: #fcf3e3;
    border: none;
    border-radius: 6px;
    background-color: #013d5a;
    font-size: 1.75em;
    padding: 10px;
  }
}

#content {
  margin: 4vh 8vh 4vh 8vh;
  padding: 25px;
  box-shadow: 5px 5px 20px;
  border-radius: 10px;
  min-height: 40vh;
  background-color: #e19918;
}
